export ARM_ACCESS_KEY=$(az storage account keys list --resource-group rg-terraform-prod-westeu-001 --account-name dcttfbackendprod001 | jq '.[1].value' -r)
export ARM_TENANT_ID=$(az account list | jq -r '.[] | select(.name == "Visual Studio Enterprise Subscription – MPN") | .tenantId')
