export ARM_ACCESS_KEY=$(az storage account keys list --resource-group rg-dct-prd-westeu --account-name dcttfbackendprod001 | jq '.[1].value' -r)
export ARM_TENANT_ID=$(az account list | jq -r '.[] | select(.name == "dct-prd") | .tenantId')
